<%- include ../partials/top %>
<div class="ui container center aligned">
	<div>
		<h1 class="head">This is where the sauerkraut products will be</h1>		
	</div>

	<div>
		<div class="ui stackable three column grid">
			<% products.forEach(function(product){ %>
		  	<div class="column">
			    <div class="ui card">
			    	<div class="content">
			    		<a class="header" href="#">
			    			<%= product.name %> 
			    		</a>
			    	</div>
			    	<!-- Image -->
			      	<img class="ui fluid image" src="<%= product.image %>">
			      	<!-- Bottom -->
		      		<div class="extra content">
				      	<div class="meta">
				      		<%= product.description %> 
				      	</div>
						<div class="ui left labeled right floated button" tabindex="0">
				  			<p class="ui basic label">$<%= product.price %> </p>
				  			<a id="shopbutton" class="ui small green button" href="#">Add to cart</a>
						</div>		      	
		      		</div>
			    </div>
		  	</div>
		  	<% }) %>
	  		
		</div>		
	</div>
</div>

<%- include ../partials/bottom %>